api/config.php
install/install.lock
install.lock
backups/

uploads/images/*
uploads/video/*
uploads/logos/*
uploads/icons/*
!uploads/images/.gitkeep
!uploads/video/.gitkeep
!uploads/logos/.gitkeep
!uploads/icons/.gitkeep
